In [1]:
# Seattle Zipcodes from http://www.discoverseattle.net/zipcodes.php
zipcodes = ["98101", "98102", "98103", "98104", "98105", "98106", "98107", "98108", "98109", "98110", "98111", "98112", "98114", "98115", "98116", "98117", "98118", "98119", "98121", "98122", "98124", "98125", "98126", "98129", "98131", "98132", "98133", "98134", "98136", "98138", "98144", "98145", "98146", "98148", "98151", "98154", "98155", "98158", "98160", "98161", "98164", "98166", "98168", "98170", "98171", "98174", "98177", "98178", "98181", "98184", "98185", "98188", "98190", "98191", "98195", "98198", "98199"]

In [2]:
# Certain conditions mean there will not be an entry for a given zipcode
# in the irs datasets. If it is a PO box, or has fewer than a certain
# number of total returns then the zipcode is grouped into larger zipcode
# groups where zeroes at the end represent wildcards. For example
# if the zipcode 98195 had only 10 returns, it would be grouped into
# 98190 or 98100 until a certain minimum amount was reached.

In [3]:
# First we will want to load our datasets into a pandas dataframe
# and see which zipcodes exist in all datasets. It may become necessary
# to ignore the certin datasets if certain zipcodes are not present. 
# for example if earlier datasets do not have all the zipcodes for the
# neighborhoods I am most interested in such as Madison Park and 
# Ranier Beach.

import pandas as pd
import math

In [4]:
# The first six years have the zipcode in the very first column.
seattle_1998 = pd.read_csv('../cleaned_wa_zipcodes/1998_wa_cleaned.csv')
seattle_2001 = pd.read_csv('../cleaned_wa_zipcodes/2001_wa_cleaned.csv')
seattle_2002 = pd.read_csv('../cleaned_wa_zipcodes/2002_wa_cleaned.csv')
seattle_2004 = pd.read_csv('../cleaned_wa_zipcodes/2004_wa_cleaned.csv')
seattle_2005 = pd.read_csv('../cleaned_wa_zipcodes/2005_wa_cleaned.csv')
seattle_2006 = pd.read_csv('../cleaned_wa_zipcodes/2006_wa_cleaned.csv')
# more recent years have their own zipcode column
seattle_2007 = pd.read_csv('../cleaned_wa_zipcodes/2007_wa_cleaned.csv')
seattle_2008 = pd.read_csv('../cleaned_wa_zipcodes/2008_wa_cleaned.csv')
seattle_2009 = pd.read_csv('../cleaned_wa_zipcodes/2009_wa_cleaned.csv')
seattle_2010 = pd.read_csv('../cleaned_wa_zipcodes/2010_wa_cleaned.csv')
seattle_2011 = pd.read_csv('../cleaned_wa_zipcodes/2011_wa_cleaned.csv')
seattle_2012 = pd.read_csv('../cleaned_wa_zipcodes/2012_wa_cleaned.csv')
seattle_2013 = pd.read_csv('../cleaned_wa_zipcodes/2013_wa_cleaned.csv')
seattle_2014 = pd.read_csv('../cleaned_wa_zipcodes/2014_wa_cleaned.csv')
seattle_2015 = pd.read_csv('../cleaned_wa_zipcodes/2015_wa_cleaned.csv')

In [5]:
## 2016 Data should be coming in August of 2018 so that shoud be cool!
## This is from looking at meta data for the documentation on the 2015 and 2014 datasets
## which both indicated the documents were created and modified late summer/autumn
## two years after the year of the tax returns in question

In [6]:
## FUTURE WORK could try and narrow down the difference between the sub-rows to each zipcode that 
## enumerate the returns/amounts for certain AGI. Typically they are:
# ["Under $10,000", "$10,000 under $25,000", "$25,000 under $50,000", "$50,000 or more"]
# HOWEVER the records for this rows can often be asterisks (* or **) if the records are too few in number.
# This is explained in documentation for the data files available in this repository or the
# IRS website. LASTLY to analyze the sub-rows will probably require more data cleaning.

In [14]:
# Works on files that have been cleaned to reflect
# that the zipcodes are stored in the same column as the AGI
def check_zipcodes_type1(dataframe):
    zipcodes_present = []
    for i in range(0, len(dataframe['adjusted_gross_income_size_and_zipcode'])):
        if dataframe['adjusted_gross_income_size_and_zipcode'][i] in zipcodes:
            zipcodes_present.append(dataframe['adjusted_gross_income_size_and_zipcode'][i])
    return zipcodes_present

# Works on files that have their own zipcode column.
def check_zipcodes_type2(dataframe):
    zipcodes_present = set();
    for i in range(0, len(dataframe['zipcode'])):
        if dataframe['zipcode'][i] in zipcodes:
            zipcodes_present.add(dataframe['zipcode'][i])
    return zipcodes_present

# Works on 2008 becauase somehow that file got altered and isn't being parsed like the rest.
# I can't really be bothered to re-clean the data or figure out the issue so I am just
# making a method to handle the strange type-declarations of its frame.
def check_zipcodes_type3(dataframe):
    zipcodes_present = set();
    for i in range(0, len(dataframe['zipcode'])):
        if not math.isnan(dataframe['zipcode'][i]):
            if str(int(dataframe['zipcode'][i])) in zipcodes:
                zipcodes_present.add(dataframe['zipcode'][i])
    return zipcodes_present

In [15]:
# older
zipcodes_in_1998 = check_zipcodes_type1(seattle_1998)
zipcodes_in_2001 = check_zipcodes_type1(seattle_2001)
zipcodes_in_2002 = check_zipcodes_type1(seattle_2002)
zipcodes_in_2004 = check_zipcodes_type1(seattle_2004)
zipcodes_in_2005 = check_zipcodes_type1(seattle_2005)
zipcodes_in_2006 = check_zipcodes_type1(seattle_2006)

# recent
zipcodes_in_2007 = check_zipcodes_type2(seattle_2007)
zipcodes_in_2008 = check_zipcodes_type3(seattle_2008) ## Note the special funciton to handle 2008 
zipcodes_in_2009 = check_zipcodes_type2(seattle_2009)
zipcodes_in_2010 = check_zipcodes_type2(seattle_2010)
zipcodes_in_2011 = check_zipcodes_type2(seattle_2011)
zipcodes_in_2012 = check_zipcodes_type2(seattle_2012)
zipcodes_in_2013 = check_zipcodes_type2(seattle_2013)
zipcodes_in_2014 = check_zipcodes_type2(seattle_2014)
zipcodes_in_2015 = check_zipcodes_type2(seattle_2015)

zipcodes_contained_all_years = [
    zipcodes_in_1998,
    zipcodes_in_2001,
    zipcodes_in_2002,
    zipcodes_in_2004,
    zipcodes_in_2005,
    zipcodes_in_2006,
    zipcodes_in_2007,
    zipcodes_in_2008,
    zipcodes_in_2009,
    zipcodes_in_2010,
    zipcodes_in_2011,
    zipcodes_in_2012,
    zipcodes_in_2013,
    zipcodes_in_2014,
    zipcodes_in_2015
]

In [16]:
# Getting smallest fully applicable zips for older datasets

print("length of 1998: " + str(len(zipcodes_in_1998)))
print("length of 2001: " + str(len(zipcodes_in_2001)))
print("length of 2002: " + str(len(zipcodes_in_2002)))
print("length of 2004: " + str(len(zipcodes_in_2004)))
print("length of 2005: " + str(len(zipcodes_in_2005)))
print("length of 2006: " + str(len(zipcodes_in_2006)))

# Now we check the zipcodes in the more recent years for their smallest most applicable range
print("length of 2007: " + str(len(zipcodes_in_2007)))
print("length of 2008: " + str(len(zipcodes_in_2008)))
print("length of 2009: " + str(len(zipcodes_in_2009)))
print("length of 2010: " + str(len(zipcodes_in_2010)))
print("length of 2011: " + str(len(zipcodes_in_2011)))
print("length of 2012: " + str(len(zipcodes_in_2012)))
print("length of 2013: " + str(len(zipcodes_in_2013)))
print("length of 2014: " + str(len(zipcodes_in_2014)))
print("length of 2015: " + str(len(zipcodes_in_2015)))

length of 1998: 44
length of 2001: 43
length of 2002: 42
length of 2004: 42
length of 2005: 42
length of 2006: 42
length of 2007: 43
length of 2008: 38
length of 2009: 35
length of 2010: 35
length of 2011: 35
length of 2012: 35
length of 2013: 35
length of 2014: 35
length of 2015: 35

In [17]:
print(zipcodes_in_2015)

set(['98118', '98119', '98116', '98117', '98115', '98112', '98110', '98198', '98199', '98178', '98144', '98122', '98148', '98164', '98121', '98109', '98108', '98105', '98104', '98107', '98106', '98101', '98126', '98125', '98102', '98103', '98166', '98146', '98188', '98155', '98134', '98136', '98133', '98168', '98177'])

In [18]:
# The goal here is to start with all the zipcodes in 201, and then go back in time and only consider
# zipcodes that are present in 2015 and every preceeding year. Effectively these will be zipcodes that
# we have 15 years of data for.
zipcodes_in_2015 = list(zipcodes_in_2015)
final_zips_data_1998_to_2015 = set()
for i in range(0, len(zipcodes_in_2015)):
    for this_year in zipcodes_contained_all_years:
        if zipcodes_in_2015[i] in list(this_year):
            final_zips_data_1998_to_2015.add(zipcodes_in_2015[i])

In [19]:
print(final_zips_data_1998_to_2015)
print("length of final zips: " + str(len(final_zips_data_1998_to_2015)))

set(['98118', '98119', '98116', '98117', '98115', '98112', '98110', '98198', '98199', '98134', '98144', '98122', '98148', '98164', '98107', '98109', '98108', '98133', '98105', '98104', '98121', '98106', '98101', '98126', '98125', '98102', '98103', '98166', '98146', '98188', '98178', '98136', '98155', '98168', '98177'])
length of final zips: 35

In [20]:
# the final list of zips that we can track for 15 of the last 20 years is:
# ['98115', '98133', '98116', '98101', '98177', '98198', '98109', '98108', '98104', '98107', '98112', '98118', '98126', '98125', '98168', '98121', '98148', '98136', '98105', '98122', '98178', '98146', '98155', '98117', '98144', '98188', '98110', '98164', '98199', '98134', '98166', '98103', '98106', '98119', '98102']
fifteen_year_zipcodes = final_zips_data_1998_to_2015

In [21]:
len(fifteen_year_zipcodes)

35

In [22]:
# There is a limited number of columns that are present in all datasets. In particular,
# 1998 and some of the earliest datasets have < 20 columns. Luckily the column that is present
# in all of them is the salaries and wages amount + returns.
# The plan is to get salaries_and_wages_amount / salaries_and_wages_returns for zipcode in
# the fifteen_year_zipcodes list, for all datasets. This should give some vague notion
# as to how incomes have changed for people submitting tax returns in given zipcdes
# over the years.

## FUTURE WORK could look at other columns that are present in all datasets, or at a subset of datasets
## with perhaps more interesting columns to see hw those values have changed.
print(seattle_1998.head())

  adjusted_gross_income_size_and_zipcode    returns  \
0                                    NaN        (1)
1                             WASHINGTON  2,602,511
2                  Under $10,000            508,744
3                  $10,000 under $25,000    640,682
4                  $25,000 under $50,000    695,768

  number_of_exemptions_total number_of_exemptions_dependent_exemptions  \
0                        (2)                                       (3)
1                  5,085,271                                 1,596,423
2                    481,089                                   127,900
3                  1,063,760                                   297,379
4                  1,459,282                                   461,372

  adjusted_gross_income salaries_and_wages_number_of_returns  \
0                   (4)                                  (5)
1           124,833,037                            2,203,182
2             1,068,532                              404,281
3            11,015,471                              517,487
4            25,280,103                              611,686

  salaries_and_wages_amount taxable_interest_number_of_returns  \
0                       (6)                                (7)
1                87,464,715                          1,528,189
2                 2,083,247                            181,495
3                 8,303,854                            275,187
4                20,417,374                            422,078

  taxable_interest_amount earned_income_credit_number_of_returns  \
0                     (8)                                    (9)
1               3,980,745                                298,018
2                 205,626                                132,925
3                 474,116                                143,248
4                 663,358                                 21,845

  earned_income_credit_amount total_tax_number_of_returns total_tax_amount  \
0                        (10)                        (11)             (12)
1                     432,446                   2,173,362       20,641,534
2                     145,999                     203,768           78,703
3                     276,443                     532,526          715,509
4                      10,004                     680,778        2,513,635

  schedule_c_number_of_returns number_of_schedules_c  \
0                         (13)                  (14)
1                      362,414               419,906
2                       49,167                56,522
3                       67,013                77,669
4                       97,992               113,814

  schedule_f_number_of_returns number_of_schedules_f  \
0                         (15)                  (16)
1                       29,878                30,950
2                        4,514                 4,721
3                        5,304                 5,478
4                        7,868                 8,128

  schedule_a_deductions_number_of_returns schedule_a_deductions_amount
0                                    (17)                         (18)
1                                 839,788                   13,531,827
2                                  18,489                      285,210
3                                  67,794                      770,255
4                                 226,770                    2,634,345

In [163]:
# This funciton will take a dataframe representing cleaned zipcode data (as can be found in the directories of
# this project), and string column name (this column must exist in the given zipcode HOWEVER please note that
# this column name needs omit the suffix +"_amount" or "_number_of_returns. Because when cleaning the data
# I noticed that columns came in pairs, one representing the amount of money and one representing the number
# of returns (which approximates households) I decided to have a consistent naming convention where the same
# prefix would correspond to thos etwo different columns with the values mentioned before), there is
# also a zipcodeInclusionList which decides which zipcodes to include Default is all
# Seattle zipcodes from the top of the file but you will probably want to focus on a subset because
# not all zipcodes are present in every file.
def get_computed_average_per_zipcode_type1(dataframe, columnName, zipcodeInclusionList = zipcodes):
    cols = ["zipcode", "amount", "returns", "avg"]
    resultFrame = pd.DataFrame(columns=cols)
    for i in range(0, len(dataframe['adjusted_gross_income_size_and_zipcode'])):
        if dataframe['adjusted_gross_income_size_and_zipcode'][i] in zipcodeInclusionList:
            zipcode = dataframe['adjusted_gross_income_size_and_zipcode'][i]
            amount = dataframe[columnName + '_amount'][i]
            returns = dataframe[columnName + '_number_of_returns'][i]
            currentFrame = pd.DataFrame()
            if(amount == "**" or returns == "**" or returns == "*" or amount == "*"):
                currentFrame = pd.DataFrame([[zipcode, "**", "**", "**"]], columns=cols) 
            else:
                avg = float(amount.replace(",","")) / float(returns.replace(",",""))
                currentFrame = pd.DataFrame([[zipcode, amount, returns, avg]], columns=cols)
            resultFrame = resultFrame.append(currentFrame, ignore_index=True)
    return resultFrame
            

def get_computed_average_per_zipcode_type2(dataframe, columnName, zipcodeInclusionList = zipcodes):
    # Make a copy of the set because we don't want to clear out the list?
    # this is because of the newer datasets storing zipcode on every line
    # for the income bracket descriptors.
    
    # Also the 2008 file as commas separating every 3 tens places.
    # I mean, freaking commas. And it is the only time it occurs too. It's wack.
    zipcodeInclusionList = zipcodeInclusionList.copy()
    cols = ["zipcode", "amount", "returns", "avg"]
    resultFrame = pd.DataFrame(columns=cols)
    for i in range(0, len(dataframe['zipcode'])):
        if dataframe['zipcode'][i] in zipcodeInclusionList:
            zipcode = dataframe['zipcode'][i]
            amount = dataframe[columnName + '_amount'][i]
            returns = dataframe[columnName + '_number_of_returns'][i]
            currentFrame = pd.DataFrame()
            if(amount == "**" or returns == "**" or returns == "*" or amount == "*"):
                currentFrame = pd.DataFrame([[zipcode, "**", "**", "**"]], columns=cols) 
            else:
                avg = float(amount.replace(",","")) / float(returns.replace(",",""))
                currentFrame = pd.DataFrame([[zipcode, amount, returns, avg]], columns=cols)
            resultFrame = resultFrame.append(currentFrame, ignore_index=True)
            zipcodeInclusionList.remove(zipcode)
    return resultFrame
            
# seriously just screw that 2008 dataset. It's all sorts of messed up
def get_computed_average_per_zipcode_type3(dataframe, columnName, zipcodeInclusionList = zipcodes):
    # Make a copy of the set because we don't want to clear out the list?
    # this is because of the newer datasets storing zipcode on every line
    # for the income bracket descriptors.
    
    # Also the 2008 file as commas separating every 3 tens places.
    # I mean, freaking commas. And it is the only time it occurs too. It's wack.
    zipcodeInclusionList = zipcodeInclusionList.copy()
    cols = ["zipcode", "amount", "returns", "avg"]
    resultFrame = pd.DataFrame(columns=cols)
    for i in range(0, len(dataframe['zipcode'])):
        if not math.isnan(dataframe['zipcode'][i]):
            zipcodeFormatted = str(int(dataframe['zipcode'][i]))
            if zipcodeFormatted in zipcodeInclusionList:
                zipcode = zipcodeFormatted
                amount = dataframe[columnName + '_amount'][i]
                returns = dataframe['returns'][i]
                currentFrame = pd.DataFrame()
                if(amount == "**" or returns == "**" or returns == "*" or amount == "*"):
                    currentFrame = pd.DataFrame([[zipcode, "**", "**", "**"]], columns=cols) 
                else:
                    avg = float(amount.replace(",","")) / float(returns.replace(",",""))
                    currentFrame = pd.DataFrame([[zipcode, amount, returns, avg]], columns=cols)
                resultFrame = resultFrame.append(currentFrame, ignore_index=True)
                zipcodeInclusionList.remove(zipcode)
    return resultFrame

In [165]:
avg_salaries_1998 = get_computed_average_per_zipcode_type1(seattle_1998, "salaries_and_wages", fifteen_year_zipcodes)
avg_salaries_2001 = get_computed_average_per_zipcode_type1(seattle_2001, "salaries_and_wages", fifteen_year_zipcodes)
avg_salaries_2002 = get_computed_average_per_zipcode_type1(seattle_2002, "salaries_and_wages", fifteen_year_zipcodes)
avg_salaries_2004 = get_computed_average_per_zipcode_type1(seattle_2004, "salaries_and_wages", fifteen_year_zipcodes)
avg_salaries_2005 = get_computed_average_per_zipcode_type1(seattle_2005, "salaries_and_wages", fifteen_year_zipcodes)
avg_salaries_2006 = get_computed_average_per_zipcode_type1(seattle_2006, "salaries_and_wages", fifteen_year_zipcodes)

In [169]:
avg_salaries_2007 = get_computed_average_per_zipcode_type2(seattle_2007, "salaries_and_wages", fifteen_year_zipcodes)
### Special case
avg_salaries_2008 = get_computed_average_per_zipcode_type3(seattle_2008, "salaries_and_wages", fifteen_year_zipcodes)
## special case is 2008 which uses a third type of function
avg_salaries_2009 = get_computed_average_per_zipcode_type2(seattle_2009, "salaries_and_wages", fifteen_year_zipcodes)
avg_salaries_2010 = get_computed_average_per_zipcode_type2(seattle_2010, "salaries_and_wages", fifteen_year_zipcodes)
avg_salaries_2011 = get_computed_average_per_zipcode_type2(seattle_2011, "salaries_and_wages", fifteen_year_zipcodes)
avg_salaries_2012 = get_computed_average_per_zipcode_type2(seattle_2012, "salaries_and_wages", fifteen_year_zipcodes)
avg_salaries_2013 = get_computed_average_per_zipcode_type2(seattle_2013, "salaries_and_wages", fifteen_year_zipcodes)
avg_salaries_2014 = get_computed_average_per_zipcode_type2(seattle_2014, "salaries_and_wages", fifteen_year_zipcodes)
avg_salaries_2015 = get_computed_average_per_zipcode_type2(seattle_2015, "salaries_and_wages", fifteen_year_zipcodes)

In [170]:
all_averages_list = list()
all_averages_list.append(avg_salaries_1998)
all_averages_list.append(avg_salaries_2001)
all_averages_list.append(avg_salaries_2002)
all_averages_list.append(avg_salaries_2004)
all_averages_list.append(avg_salaries_2005)
all_averages_list.append(avg_salaries_2006)
all_averages_list.append(avg_salaries_2007)
all_averages_list.append(avg_salaries_2008)
all_averages_list.append(avg_salaries_2009)
all_averages_list.append(avg_salaries_2010)
all_averages_list.append(avg_salaries_2011)
all_averages_list.append(avg_salaries_2012)
all_averages_list.append(avg_salaries_2013)
all_averages_list.append(avg_salaries_2014)
all_averages_list.append(avg_salaries_2015)

In [180]:
# And finally we can print the sequence of 
# "average salaries and wages _reported income_ per tax-return per year by zipcode"
for frame in all_averages_list:
    avg_for_year = frame.loc[frame['zipcode'] == '98107']['avg'].values[0]
    print avg_for_year

34.9406218656
42.2107279693
43.8705570832
45.5508895325
47.5239276486
51.4556556557
54.6668199798
49.8924128398
57.66215867
58.7251264755
62.9650045937
66.6305691057
70.5480127186
76.5314546839
81.1030802292